@import "tailwindcss";

.bg-pattern {
  background: transparent;
}

@media (min-width: 640px) {
  .bg-pattern {
    background: radial-gradient(circle, rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 16px 16px; 
  }
}


.social-bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

::-webkit-scrollbar {
  display: none;
}

html{
  background-color: #121218 ;
}